<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image"
      href="components/images/WhatsApp Image 2021-12-19 at 6.38.10 PM.jpeg"
    />
    <title>Concerns Page</title>
    <!-- aos cdn link  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- stylesheet -->
    <link rel="stylesheet" href="/styles/template.css" />
    <link rel="stylesheet" href="/styles/concerns.css" />
  </head>
  <body>
    <div class="navbar"></div>
    <div id="box" data-aos="fade-up">
      <div id="picture" data-aos="zoom-in-up">
        <img
          id="pic"
          src="https://cdn.shopify.com/s/files/1/0410/9608/5665/files/skin-regimen-grey-min.png"
        />
      </div>
      <div id="content">
        <h1>Find products by skin concerns</h1>
        <p>
          Take the guesswork out of your skincare regimen. Find the best
          ingredients for your specific skin concerns and build your own custom
          regimen.
        </p>
      </div>
    </div>
    <div id="container">
      <div class="smalldiv" data-aos="fade-up">
        <h4>REDUCE ACNE/BREAKOUTS</h4>
        <button class="addbtn" id="firstbtn">+</button>
        <div id="firstdiv" class="closediv">
          <h1>Salicylic Acid 2%</h1>
          <p>
            A daily gentle exfoliant with 2% salicylic acid that wards off
            blackheads and keeps your oils in check for that flawless matt look
            everyone dreams.
          </p>
          <button id="viewpdt">View Product</button><br /><br />
        </div>
      </div>
      <div class="smalldiv" data-aos="fade-up">
        <h4>REDUCE HYPERPIGMENTATION</h4>
        <button class="addbtn" id="secondbtn">+</button>
        <div id="seconddiv" class="closediv">
          <h1>Alpha Arbutin 2% + HA 1%</h1>
          <p>
            An anti-pigmentation daily serum with Alpha Arbutin dramatically
            reduces dark spots and blemishes for brighter, even-looking skin.
          </p>
          <button id="viewpdt">View Product</button><br /><br />
        </div>
      </div>
      <div class="smalldiv" data-aos="fade-up">
        <h4>REDUCE OILINESS & REDUCE PORES</h4>
        <button class="addbtn" id="thirdbtn">+</button>
        <div id="thirddiv" class="closediv">
          <h1>Niacinamide 10% + Zinc</h1>
          <p>
            A nourishing, daily serum packed with pure Vitamin B3 and
            antibacterial mineral zinc that boosts dermal immunity, keeping your
            skin resilient and healthy.
          </p>
          <button id="viewpdt">View Product</button><br /><br />
        </div>
      </div>
      <div class="smalldiv" data-aos="fade-up">
        <h4>REDUCE FINE LINES & WRINKLES</h4>
        <button class="addbtn" id="fourthbtn">+</button>
        <div id="fourthdiv" class="closediv">
          <h1>Granactive Retinoid 2% (Emulsion)</h1>
          <p>
            Turn back the clock on aging and give your skin a youthful vibrancy
            with this gentle, safe & effective 2% Retinoid serum.
          </p>
          <button id="viewpdt">View Product</button><br /><br />
        </div>
      </div>
      <div class="smalldiv" data-aos="fade-up">
        <h4>REDUCE DRYNESS & DRY PATCHES</h4>
        <button class="addbtn" id="fifthbtn">+</button>
        <div id="fifthdiv" class="closediv">
          <h1>Hyaluronic Acid 2% + Vitamin B5</h1>
          <p>
            A hydrating booster with a punch of Vitamin B5 that pulls moisture
            deep into the skin & lock-in there, leaving instant plump, baby-soft
            skin.
          </p>
          <button id="viewpdt">View Product</button><br /><br />
        </div>
      </div>
      <div class="smalldiv" data-aos="fade-up">
        <h4>IMPROVE TEXTURE</h4>
        <button class="addbtn" id="sixthbtn">+</button>
        <div id="sixthdiv" class="closediv">
          <h1>AHA 25% + PHA 5% + BHA 2%</h1>
          <p>
            A powerful peeling trio of 25% AHA, 5% PHA & 2 % BHA that provides
            multi-level exfoliation, both on the surface & inside the pores,
            giving you a healthy, plump, and glowing skin.
          </p>
          <button id="viewpdt">View Product</button><br /><br />
        </div>
      </div>
      <div class="smalldiv" data-aos="fade-up">
        <h4>SURFACE EXFOLIATION</h4>
        <button class="addbtn" id="seventhbtn">+</button>
        <div id="seventhdiv" class="closediv">
          <h1>Lactic Acid 10% + Hyaluronic Acid 1%</h1>
          <p>
            A skin-regenerating daily serum with 10% Lactic Acid and 1%
            Hyaluronic Acid that mildly exfoliates without drying the skin to
            reveal clear, radiant, and hydrated skin.
          </p>
          <button id="viewpdt">View Product</button><br /><br />
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
<script type="module">
  import {
    navwithouttop,
    footer,
    navfunction,
    searchanimation,
  } from "/scripts/script.js";
  document.querySelector(".navbar").innerHTML = navwithouttop();
  document.querySelector("footer").innerHTML = footer();
  navfunction();
  searchanimation();
</script>
<script src="scripts/concerns.js"></script>
<!-- aos script  -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    delay: 1,
  });
</script>
