<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image"
      href="components/images/WhatsApp Image 2021-12-19 at 6.38.10 PM.jpeg"
    />
    <title>Minimalist</title>

    <!-- aos cdn link  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- font awesome -->

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- stylesheet -->
    <link rel="stylesheet" href="/styles/template.css" />
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <div class="top-wrapper">
      <div class="navigation"></div>

      <div class="heading">
        <h1>Let's talk science</h1>
      </div>
    </div>

    <!-- let's science column -->
    <div class="section-1" data-aos="zoom-in-up">
      <div class="top-img">
        <img
          src="https://cdn.shopify.com/s/files/1/0410/9608/5665/files/minimalist-skin-1-min.png?v=1593807250"
          alt=""
        />
      </div>
      <div class="img-content">
        <h2>Looking for clean & effective skincare products?</h2>
        <p>
          We have all been there. You look for a product that addresses your
          particular skin concern. But there's an ocean of products out there
          with numerous promises & claims but hardly any clear information about
          ingredients used and their concentration. We are here to offer
          no-nonsense, hardworking, active based products that do what they are
          expected to do.
        </p>
      </div>
    </div>

    <!-- bestsellers -->

    <div class="bestsellers">
      <h2>Shop Our Bestsellers</h2>
      <p>View All</p>
      <div class="bestseller-items" data-aos="zoom-in-up"></div>
    </div>
    <!-- section-2 -->
    <div class="scroll-box">
      <div class="section-2" data-aos="fade-up">
        <div class="sec2-box">
          <div class="sec2-img">
            <img
              src="	https://cdn.shopify.com/s/files/1/0410/9608/5665/files/skin-regimen-grey-min.png?v=1593944034
                "
              alt=""
            />
          </div>
          <div class="sec2-content">
            <h2>Looking for a particular skin solution?</h2>
            <p>
              Know which ingredient is best suited for your particular skin
              concern. No more guesses.
            </p>
            <button>Explore</button>
          </div>
        </div>
      </div>
    </div>

    <!-- quote section -->

    <div class="stories">
      <h2>Real stories</h2>
      <div class="story-box">
        <div class="quotes" data-aos="zoom-in-up">
          <div><i class="fas fa-quote-left"></i></div>
          <div>
            I love this Vitamin C serum, I can see my skin becomes brighter
            after one to two days only which is remarkable.
          </div>
          <div>Susmitha Prabhakaran</div>
        </div>
        <div class="quotes" data-aos="zoom-in-up">
          <div><i class="fas fa-quote-left"></i></div>
          <div>
            I have been struggling with oily, acne-prone skin. After applying
            the serum before bed, I wake up with fresh &amp; even skin that
            hasn't gotten oily overnight!
          </div>
          <div>Shilpa Sharma</div>
        </div>
        <div class="quotes" data-aos="zoom-in-up">
          <div><i class="fas fa-quote-left"></i></div>
          <div>
            Its really working. I was having mild wrinkles around my eyes but it
            has been reduced after 4-5 applications.
          </div>
          <div>Neha Saraswat</div>
        </div>
      </div>
    </div>

    <!-- blog section -->
    <div class="blog">
      <h2>Pro Tips</h2>
      <div class="boxes">
        <div class="tip-box" data-aos="fade-up">
          <div class="blog-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0410/9608/5665/t/3/assets/pf-8edfce7a--cover-image-2_800x450.jpg?v=1616219671&resized"
              alt=""
            />
          </div>
          <div class="blog-title">
            <p>
              Salicylic Acid is One Of The Most Commonly Used Topical Face
              Acids! Here’s How To Use It!
            </p>
          </div>
        </div>
        <div class="tip-box" data-aos="fade-up">
          <div class="blog-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0410/9608/5665/t/3/assets/pf-dffa9677--cover-image-2.jpg?v=1616145080"
              alt=""
            />
          </div>
          <div class="blog-title">
            <p>10 Things you need to know about skin hydration</p>
          </div>
        </div>
        <div class="tip-box" data-aos="fade-up">
          <div class="blog-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_9c219657-ed35-4fcb-8413-8804e32561c9_540x.jpg?v=1616129562"
              alt=""
            />
          </div>
          <div class="blog-title">
            <p>The Uses and Benefits of Oleic Acid for Skin</p>
          </div>
        </div>
      </div>
    </div>

    <!-- product display -->
    <div class="product-container"></div>

    <!-- footer -->
    <footer></footer>
    <!-- CHAT BAR BLOCK -->
    <div class="chat-bar-collapsible">
      <button id="chat-button" type="button" class="collapsible">
        Talk to Us!
        <i
          id="chat-icon"
          style="color: #fff"
          class="fa fa-fw fa-comments-o"
        ></i>
      </button>

      <div class="content">
        <div class="full-chat-block">
          <!-- Message Container -->
          <div class="outer-container">
            <div class="chat-container">
              <!-- Messages -->
              <div id="chatbox">
                <h5 id="chat-timestamp"></h5>
                <p id="botStarterMessage" class="botText">
                  <span>Loading...</span>
                </p>
              </div>

              <!-- User input box -->
              <div class="chat-bar-input-block">
                <div id="userInput">
                  <input
                    id="textInput"
                    class="input-box"
                    type="text"
                    name="msg"
                    placeholder="Tap 'Enter' to send a message"
                  />
                  <p></p>
                </div>

                <div class="chat-bar-icons">
                  <i
                    id="chat-icon"
                    style="color: crimson"
                    class="fa fa-fw fa-heart"
                    onclick="heartButton()"
                  ></i>
                  <i
                    id="chat-icon"
                    style="color: #333"
                    class="fa fa-fw fa-send"
                    onclick="sendButton()"
                  ></i>
                </div>
              </div>

              <div id="chat-bar-bottom">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="module">
  import {
    navbar,
    footer,
    productappend,
    itemstemplate,
    items,
    navfunction,
    searchanimation,
  } from "/scripts/script.js";
  document.querySelector(".navigation").innerHTML = navbar();
  document.querySelector("footer").innerHTML = footer();
  let bestseller = document.querySelector(".bestseller-items");
  let container = document.querySelector(".product-container");
  let products = items;
  let cart = JSON.parse(localStorage.getItem("store"));
  products.map(({ title, reviews, desc, tprice, dprice, url }) => {
    let itembox = document.createElement("div");
    itembox.setAttribute("class", "itembox");
    let itemimgdiv = document.createElement("div");
    itemimgdiv.setAttribute("class", "itemimgdiv");
    let itemimg = document.createElement("img");
    itemimg.src = url;
    itemimgdiv.append(itemimg);

    let itemcontentdiv = document.createElement("div");
    itemcontentdiv.setAttribute("class", "itemcontentdiv");
    let name = document.createElement("p");
    name.textContent = title;
    let about = document.createElement("p");
    about.textContent = desc;
    let pricediv = document.createElement("div");
    pricediv.setAttribute("class", "pricediv");
    let disprice = document.createElement("span");
    disprice.textContent = `₹${dprice}`;
    let oprice = document.createElement("span");
    oprice.textContent = `₹${tprice}`;
    pricediv.append(disprice, oprice);
    itemcontentdiv.append(name, about, pricediv);
    itembox.append(itemimgdiv, itemcontentdiv);
    bestseller.append(itembox);
  });

  if (cart.length > 0) {
    document.getElementById("indicator").style.display = "block";
  } else {
    document.getElementById("indicator").style.display = "none";
  }
  container.innerHTML = itemstemplate("Recently viewed Products");
  let recitems = document.querySelector(".recent-products");
  productappend(products, recitems, cart);
  navfunction();
  searchanimation();

  var coll = document.getElementsByClassName("collapsible");

  for (let i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");

      var content = this.nextElementSibling;

      if (content.style.maxHeight) {
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
</script>
<script src="/scripts/chat.js"></script>
<script src="/scripts/response.js"></script>
<!-- aos script  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    delay: 1,
  });
</script>
