<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link
      rel="shortcut icon"
      type="image"
      href="components/images/WhatsApp Image 2021-12-19 at 6.38.10 PM.jpeg"
    />

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="stylesheet" href="/styles/template.css" />
  </head>
  <body>
    <div class="navbar"></div>
    <div id="login">
      <h1>Login</h1>
      <br />
      <div id="popup">
        <ul>
          <li>Incorrect email or password.</li>
        </ul>
      </div>
      <h4>EMAIL</h4>
      <input id="loguser" type="email" required />
      <div id="line">
        <h4>PASSWORD</h4>
        <p>Forgot?</p>
      </div>
      <input id="logpass" type="password" required />
      <button id="logbtn" onclick="login()">Sign In</button>
      <div id="createbtn"><a href="/signup">Create Account</a></div>
    </div>
    <footer></footer>
  </body>
</html>
<script src="scripts/login.js"></script>
<script type="module">
  import {
    navwithouttop,
    footer,
    navfunction,
    searchanimation,
  } from "/scripts/script.js";
  document.querySelector(".navbar").innerHTML = navwithouttop();
  let foot = document.querySelector("footer");
  foot.innerHTML = footer();
  navfunction();
  searchanimation();
</script>
