* {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
}
#box {
  height: 500px;
  display: grid;
  grid-template-columns: 50% 42%;
  grid-template-rows: repeat(1, 100%);
  padding-left: 5%;
  padding-right: 5%;
  grid-gap: 2%;
  background-color: black;
  color: white;
}
#box img {
  height: 90%;
  width: 80%;
  transition: all 1s;
  margin: 0;
}
#pic {
  padding: 8% 15% 10% 10%;
  width: 450px;
  height: 300px;
}
#content {
  align-self: center;
  /* margin-top: -40px; */
}
#content > p {
  font-size: 18px;
}
#container {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 8%;
}
.smalldiv {
  display: grid;
  grid-template-columns: 98% 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  border-bottom: 1px solid black;
}
.smalldiv > button {
  text-align: end;
  border: none;
  background: transparent;
}
.closediv {
  display: none;
  margin-left: 50%;
  width: 39%;
}
.addbtn {
  transition: transform 0.1s ease-in-out;
}
.addbtn:active {
  transform: rotate(320deg);
}
#viewpdt {
  height: 40px;
  width: 35%;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 750px) {
  #box {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 0px;
  }
  #pic {
    width: 200px;
    height: 400px;
  }
  #picture {
    padding-right: 10%;
  }
  #content {
    align-content: center;
    padding-left: 8%;
    padding-right: 5%;
  }
}
