* {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
}
#login {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  width: 35%;
  margin: 50px auto 100px auto;
}
@media screen and (max-width: 650px) {
  #login {
    width: 70%;
  }
}
#login input {
  height: 40px;
  border: 1px solid rgb(202, 200, 200);
  font-size: 16px;
}
#login h1 {
  margin: auto;
  margin-top: 50px;
}
#login h4 {
  line-height: 30px;
  margin-bottom: 5px;
  font-size: 14px;
}
#login p {
  padding-top: 5px;
  text-align: right;
  color: rgb(70, 69, 69);
}
#line {
  display: grid;
  grid-template-columns: 70% 30%;
}
#logbtn {
  height: 45px;
  background-color: black;
  color: rgb(252, 249, 249);
  font-size: 18px;
  font-weight: bold;
  margin-top: 8%;
  border: none;
}
#createbtn {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(61, 60, 60);
}
#popup {
  display: none;
  border: 1px solid rgb(189, 8, 8);
  background-color: rgb(247, 228, 231);
  color: rgb(184, 8, 8);
}
